
.body{


}
h1{
    padding-bottom: 2.5%;
}

.wrapper{
  text-align: center;
  padding-top: 15%;
}



#buttons{
  padding-top: 10%;
}

.start{
  display: inline;
}

.pause{

}

input{
  width: 45px;
  height: 60px;
  text-align: center  ;
  border: none;
  border-bottom: 1.5px solid black;
  transition: all 0.3s;
}

input[disabled]{
  background-color: inherit;
}

.timeBox{
  font-size: 3.5em;
  padding: 0;
  margin: 0;

}

#labels{
  padding-top: 1%;
  font-size: 0.75em;
}


#labels span{
 padding: 0px 99.5px
}


#showTime{
  display:block;
  font-size: 3.5em;
}

#inputTime{
  display:none;
}
