
body{
  background-color: #333;
	text-align: center;
	color: white;
}

#greeting h1{
  font-size: 3.5em;
}

.wrapper{
  text-align: center;
  padding-top: 7%;
}



#buttons{
  padding-top: 70px;
}

#button-start{
  margin: 0 7%;
}

.start{
  display: inline;
}


#inputContainer input[type=text] {
    background: transparent;
		width: 24em;
    border: none;
    border-bottom: 1.5px solid white;
		padding-left: 5px;
		padding-right: 5px;
		color: inherit;
		text-align: center;
		padding-top: 1.5%;
		/*-webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;*/
}


#main input{
  width: 35px;
  height: 60px;
  background: transparent;
  text-align: center  ;
  border: none;
  border-bottom: 1.5px solid white;
  transition: all 0.6s;
}

#main input[disabled]{
  background-color: inherit;
}


.timeBox{
  font-size: 4.0em;
  padding: 0;
  margin: 0;
}

span.timeBox  {
  margin-right: 3.5px;
}

#main{
  padding-top: 80px;
}

#labels{
  padding-top: 1%;
  font-size: 0.75em;
}


#labels span{
 padding: 0px 83px;
 margin-right: 2px;
}


#showTime{
  display:block;
  font-size: 3.5em;
}

#inputTime{
  display:none;
}

.quote{
  margin-top: 60px;
}

.custom-icon {
  background: inherit;
  border-radius: 100%;
  border: 1px solid #333;
  color: white;
  display: table-cell;
  font-size: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;

}
.custom-icon:hover {
  border: 0.75px solid white ;
}
.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
}



{
 background: #000 !important;
 color: #0f0 !important;
 outline: solid #f00 1px !important;
}
