<div id="dash" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Dashboard / {{username}}</h3>
      </div>
    </div>
      <div class="row">
        <div class="col-md-2 col-xs-12 dash-section">
          <div id="statistics">
            <div class="stats-table">
              <div class="dash-title">Current Streak</div>
              <div class="dash-stage">
                <div class="streak">
                  <div id=streak-num>0</div>
                  <div >days</div>
                </div>
                <div class="stats">
                  <div>
                    This week <strong><span id='currWeek'>0</span></strong> hours
                  </div>
                  <div>
                    Last week <strong><span id='lastWeek'>0</span></strong> hours
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 dash-section">
          <div id="chart-1">
            <div class="line-chart">
              <div class="dash-title"> Pie Chart One</div>
              <div class="dash-stage" id="line-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 dash-section">
          <div id="chart-2">
            <div class="cal-heatmap">
                <div class="dash-title"> Contributions over the last year</div>
                <div class="dash-stage">
                  <div id="cal-heatmap"></div>
                  <ul>
                    <li>Averge Week <strong><span id='avgHrs'>0</span></strong> hours</li>
                    <li>Longest Streak <strong><span id='longStreak'>0</span></strong> days</li>
                    <li>Completed projects <strong><span id='compProj'>0</span></strong></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-12 dash-section">
          <div id="pie-1">
            <div class="pie-chart">
              <div class="dash-title"> Pie Chart One</div>
              <div class="dash-stage" id="google-pie"></div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xs-12 dash-section">
          <div id="chart-2">
            <div class="week-chart">
              <div class="dash-title"> Bar Chart One</div>
              <div class="dash-stage" id="bar-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#section 'script'}}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src= "/js/timer.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
    <script type="text/javascript" src= "/js/chart.js"></script>
  {{/section}}
