<!----------------------- TIMER -------------------------->
<nav id="menu">
  <div class="menu-container">
    <div class="menu-heading">
      <h2>workDeep</h2>
      <div id="time"></div>
      <div id="projects" class="projects">
        <h4>Your Live Projects</h4>
        <h6>Limit of 5 projects</h6>
        <ul>
        </ul>
        <div class="newProject">
          <span><i class="fa fa-plus" aria-hidden="true"></i></span><span><input type="text" name="" value="" maxlength="14" placeholder="Add New Project Here"></span>
        </div>
      </div>
    </div>
  </div>
</nav>

  <main id="panel">
    <nav class="navbar navbar-expand navbar-default">
      <div class="container">
        <button id="slider-toggle" class="toggle-button">☰
          <span id="tooltipButton" class="shake">Add Project</span>
        </button>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/logout" class="scroll"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="wrapper">
        <div id="greeting">
          <h1>Hey <span id='userName'>{{username}}</span>, <span id=motivation>let's get it done!</span></h1>
        </div>
        <div id="inputContainer">
          <div id ="taskInput"></div>
        </div>

        <div class ="row">
            <div class ="projects col-md-4 col-xs-12">
            </div>
            <div class ="col-md-4 col-xs-12">
              <div id ="main">
                 <!-- need to find a way to move the oninput to css if possible -->
                  <input class="timeBox" type="text" id="hoursTen" value="0" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                  <input class="timeBox" type="text" id="hoursOne" value="0" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                  <span class="timeBox">:</span><input class="timeBox" type="text" id="minutesTen" value="2" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                  <input class="timeBox" type="text" id="minutesOne" value="5" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                  <span class="timeBox">:</span><input class="timeBox" type="text" id="secondsTen" value="0" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                  <input class="timeBox" type="text" id="secondsOne" value="0" maxlength="1"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>

              </div>

              <div id="labels">H <span>M </span> S </div>

              <div id="buttons">

                <!-- <button id="button-done">Done</button> -->

                <div class="icon-wrapper" id="button-reset">
                  <i class="fa fa-undo custom-icon" aria-hidden="true"><span class="fix-editor">&nbsp;</span></i>
                </div>
                <div class="icon-wrapper" id="button-start">
                  <i id='play' class="fa fa-play custom-icon" aria-hidden="true"><span class="fix-editor">&nbsp;</span></i>
                </div>

                <div class="icon-wrapper" id="button-delete">
                  <i class="fa fa-trash custom-icon" aria-hidden="true"><span class="fix-editor">&nbsp;</span></i>
                </div>
              </div>

              <div id="finish">
                <button type="button" name="button" id="button-finish" class="btn btn-primary">(Finish session early)</button>
              </div>
            </div>

          <div class ="col-md-4 col-xs-12">
          </div>
       </div>
       <div class="row">
         <div class="quote">
           <h5>"We do not rise to the level of our expectations, we fall to the level of our training" - Archilochus</h5>
         </div>
       </div>
      </div>
    </div>





<!----------------------- Dashboard -------------------------->

  <div id="dash" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>Dashboard / {{username}}</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button id="button-updateCharts" type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
      <div id="loader">
        <i id ="spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <div id="loader-msg">Fetching your data...</div>
      </div>
      <div id="chartArea">
        <div class="row">
          <div class="col-md-2 col-xs-12 dash-section">
            <div id="statistics">
              <div class="stats-table">
                <div class="dash-title">Current Streak</div>
                  <div class="dash-stage">
                    <div class="streak">
                      <div id=streak-num>0</div>
                      <div >days</div>
                    </div>
                    <div class="stats">
                      <div>
                        This week <strong><span id='currWeek'>0</span></strong> hours
                      </div>
                      <div>
                        Last week <strong><span id='lastWeek'>0</span></strong> hours
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 dash-section">
              <div id="chart-1">
                <div class="week-chart">
                  <div class="dash-title"> Weekly Hours</div>
                  <div class="dash-stage" id="bar-chart"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 dash-section">
              <div id="pie-1">
                <div class="pie-chart">
                  <div class="dash-title"> My Time Breakdown</div>
                  <div class="dash-stage" id="google-pie"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 dash-section">
              <div id="chart-1">
                <div class="line-chart">
                  <div class="dash-title"> My Projects</div>
                  <div class="dash-stage" id="proj-table"></div>
                </div>
              </div>
            </div>
            <div id="heatmap" class="col-md-6 col-xs-12 dash-section">
              <div id="chart-2">
                <div class="cal-heatmap">
                  <div class="dash-title"> Contributions over the last year</div>
                  <div class="dash-stage">
                    <div id="cal-heatmap"></div>
                    <ul>
                      <li>Averge Week: <strong><span id='avgHrs'>0</span></strong> hours</li>
                      <li>Longest Streak: <strong><span id='longStreak'>0</span></strong> days</li>
                      <li>Total Logged: <strong><span id='totHrs'>0</span></strong> hours</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>

  {{#section 'script'}}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <script type="text/javascript" src="/js/slideout.js"></script>
    <script type="text/javascript" src= "/js/timer.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
    <script type="text/javascript" src= "/js/chart.js"></script>
  {{/section}}
