
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
        <h1>workDeep</h1>
        <h4>Track your time on the projects that matter</h4>
        <div class="buttons">
          <a id='signup' href="/users2/signup" class="btn-custom hvr-rectangle">Get Started</a>
          <!-- <a id='signup' href="/signup" class="btn-custom hvr-rectangle"> SignUp</a>
          <a id='learn' href="/about" class="btn-custom">Learn more</a> -->
      </div>
      </div>
    </div>
  </div>
</div>
