
body{
  background-color: #21272d;
	text-align: left;
	color: white;
  /*background: url(https://s17.postimg.org/9vcwy27un/patrick-hendry-181408.jpg)
    no-repeat
    center;
  background-size: cover;

  width: 100vw;*/
}


#greeting h1{
  font-size: 2.5em;
}

.wrapper{
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}


#buttons{
  padding-top: 15%;
}

#button-start{
  margin: 0 75px;
}

#button-reset{
  display: none;
}

#button-delete{
  display: none;
}

#button-finish{
  visibility: hidden;

}


.start{
  display: inline;
}


#taskInput {
    background: transparent;
    font-size: 2.5em;
    border: none;
		color: inherit;
		text-align: center;
		padding-top: 10%;
}


#main{
  padding-top: 10%;
}

#main input{
  width: 30px;
  height: 50px;
  font-size: 50px;
  background: transparent;
  text-align: center  ;
  border: none;
  outline: none;
  border-bottom: 1.5px solid white;
  transition: all 0.6s;
}

#main input[disabled]{
  background-color: inherit;
}

#main input:focus{
  color: red;
  border-bottom: 1.5px solid red;
  caret-color: #21272d;
}

#main input:hover:not(:focus){
  cursor: pointer;
  border-bottom: 1.5px solid red;
}


.timeBox{
  font-size: 4.0em;
  padding: 0;
  margin: 0;
}

span.timeBox  {
  margin-right: 3.5px;
}



#labels{
  padding-top: 1%;
  font-size: 0.75em;
}


#labels span{
 padding: 0px 74px;
 margin-right: 2px;
}


#showTime{
  display:block;
  font-size: 3.5em;
}

#inputTime{
  display:none;
}

#finish{
  margin-top: 20px;
}

.quote{
  margin-top: 30px;
  padding: 0 15px;
}

.custom-icon {
  background: inherit;
  border-radius: 100%;
  color: white;
  display: table-cell;
  font-size: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  border: 0.75px solid white;
}



.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
}

#projects h4{
  padding: 5px;
  padding-left: 10px;
  background: grey;
  color: white;
  margin-bottom: 0;
}

#projects h6{
  padding: 5px;
  padding-left: 10px;
  background: #d3d3d3;
  color: #757575;
  margin: 0;
}

#time {
  padding-left: 10px;
}

.menu-heading h2{
  margin-top: 10px;
  padding-left: 10px;
}


/*NAV BAR */

.navbar-default {
    background-color: transparent;
    border-color: #E7E7E7;
    border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border: none;
}
 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
    border: 1px solid #DDD;
}

/* ----- DASHBOARD ----- */
#dash{
  background-color: white;
}


#button-updateCharts{
  visibility: hidden;
  color: #fff;
  margin: 0;
  background-color: #a83636;
  border-color: #a83636;
}

#chartArea{
  display: none;
}

#loader{
  min-height: 80vh;
  padding-top: 20%;
  text-align: center;
}

#loader-msg{
  padding-top: 3%;
}

.content-section {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: white;
  color: #21272d;
}

.content-section h3 {
  text-align: left;
  padding-bottom: 15px;
  margin: 0;
}

.dash-section{
  padding: 15px;
}

.dash-stage{
  text-align: left;
  border: 1px solid #dddddd;
  font-size: 12px;
  height: 200px;
}



/*#proj-table {
  height: 200px;
}*/

.google-visualization-table-td {
  text-align: left !important;
}



.dash-title{
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  color: #21272d;
  padding: 8px;
  border-bottom: inherit;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid #dddddd;
  border-bottom: 0;
}

#heatmap{
  display: none;
}

#streak-num{
  font-size: 60px;
}

.streak{
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}


.stats{
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
}
/* ----- BOOTSTRAP LOGIN FORM ----- */
.container-signin{
  max-width: 275px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.signin-header{
  text-align: center;
  padding-bottom: 5%;
}

.signin-header h1{
  font-size: 28px;
  margin-top: 0;
}

.btn{
  margin: 18px auto;
  max-width: 100%;
  font-size: 15px;
}


.btn-social-signin{
  margin-bottom: 15px;
}

.signin-more{
  font-size: 12px;
}

.btn-link{
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-link:hover{
  color: white;
}

.btn-signup{
  text-align: right;
  padding-right: 5px;
}

.btn-forgot{
  text-align: left;
  padding-left: 5px;
}

.btn-group-justified{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.text-muted{
  color: white;
}


legend {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.form-signin {
  max-width: 100%;
}

.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*.form-signin input[type="email"] {
  margin-bottom: 20px;

}
.form-signin input[type="password"] {
  margin-bottom: 30px;
}*/

#projects{
  padding-top: 15px;
  margin-left: 0;
  text-align: left;
  overflow: hidden;
}

.projects ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects li{
  height: 40px;
  line-height: 40px;
}

.projects li .complete{
  display: inline-block;
}

.projects li .complete:hover{
  cursor: pointer;
}

.projects li .projectName:hover{
  cursor: pointer;
}

.projects li .delete{
  display: inline-block;
}

.projects li .delete:hover{
  cursor: pointer;
}

.projects .newProject{
  height: 40px;
  line-height: 40px;
}


.projects .complete{
  margin: 0 5px;
  float: right;
  display: none;
}

.project-list-form{
  display: inline;
}

.projects .delete{
  float: right;
  display: none;
}

.projects li:hover{
  background: gainsboro;
}

.projects span{
  margin-right: 5px;
  margin-left: 10px
}


.projects input{
  border: 0;
  outline: none;
}


.projects .custom-icon-list {
  background: inherit;
  border-radius: 100%;
  color: black;
  display: table-cell;
  font-size: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  transition: 0.2s linear;
  vertical-align: middle;
  border: 0.75px solid inherit;
}

.projects .custom-icon-list:hover {
  border: 0.75px solid black;
}

.icon-wrapper-list {
  padding-top: 5px;
  display: inline-block;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}




/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

/* NOTE: SIGNUP FORM ------------- */
.container-signin{
  max-width: 325px;
  padding: 12px;
}

.signin-header{
  padding-bottom: 9px;
  text-align: center;
}

.vertical-center{
  display: flex;
  align-items: center
}

.col-left{
  margin-right: 0;
}

.col-right{
  margin-left: 0;
}

.col-center{
  padding: 0;
}

/* NOTE: LOGIN FORM---------------- */

.signin-header{
  text-align: center;
}

.signin-header h1{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 6%;
}

legend{
  margin-bottom: 20%;
}

.btn{
  font-size:
}
/*TIMER----------------------------*/
  #greeting h1{
    font-size: 3.5em;
  }

  #taskInput {
    background: transparent;
    font-size: 3em;
    border: none;
		color: inherit;
		text-align: center;
		padding-top: 3%;
    transition: all 0.5s linear;
  }

  #main{
    padding-top: 80px;
  }

  #main input{
    width: 35px;
    height: 60px;
    background: transparent;
    text-align: center  ;
    border: none;
    outline: none;
    border-bottom: 1.5px solid white;
    transition: all 0.2s linear;
  }

  .custom-icon {
    background: inherit;
    border-radius: 100%;
    color: white;
    display: table-cell;
    font-size: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    transition: 2s;
    vertical-align: middle;

  }
  .custom-icon:hover {
    border: 0.75px solid white;
    cursor:pointer;
  }



  #labels span{
   padding: 0px 83px;
   margin-right: 2px;
  }

  #buttons{
    padding-top: 50px;
  }

  #button-finish{
    visibility: hidden;
    border-color: white;
    background-color: inherit;
    transition: all 0.2s linear;
  }

  #button-finish:hover{
    color: #fff;
    background-color: #a83636;
    border-color: #a83636;
  }

/*DASH----------------------------*/

  #heatmap{
    display: block;
  }

  #button-updateCharts{
    color: #21272d;
    border-color: #21272d;
    margin: 0;
    background-color: inherit;
    transition: all 0.2s linear;
    float: right;
  }

  #button-updateCharts:hover{
    color: #fff;
    background-color: #a83636;
    border-color: #a83636;
  }

}



{
 background: #000 !important;
 color: #0f0 !important;
 outline: solid #f00 1px !important;
}
